.choice_box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
  height: 69vmin;
}
.choice_box__item {
  width: 40vmin;
  height: 40vmin;
  &:hover {
    cursor: pointer;
  }
}
.choice_box__img_wrapper {

}
.choice_box__img {
  width: 100%;
}
.choice_box__text {
  font-size: 3vmin;
  font-family: "Roboto", sans-serif;
  color: $cyan400;
}
