.walkthrough__text-container--desktop {
  display: flex;
}
.walkthrough__popup {
  cursor: pointer;
}

.walkthrough__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#3C3C3C, 0.9);
  min-width: 100%;
  min-height: 100%;
  z-index: 50;
}
