$menu-bg: #607D8B; // Material-ui blueGrey500

.generic-menu-wrapper-mobile {
  position: fixed;
  background-color: $menu-bg !important;
  min-height: 2em;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.generic-menu-item-mobile {
  text-align: center;
  width: 80vw;
  margin: 0.5em;
}
.generic-menu-ul-mobile {
  margin: 0;
}

.generic-menu-wrapper {
  display: flex;
  background-color: $menu-bg;
  min-height: 2em;
  padding: 1em;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.generic-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1.5;
}

.generic-single-button-wrapper {
  flex: 1;
}

.generic-logo-wrapper {
  flex: 1;
}

.generic-drawer {
  position: fixed;
  top: 0;

  min-width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #FFF;
}

.generic-drawer-list-item {
  margin: 0.5em;
}