.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin header($colour1, $colour2) {
  background: linear-gradient(
                  45deg,
                  $colour1,
                  $colour2
  )
}
.header--red { @include header(rgba(#994444, .5), rgba(#CC4444, .5)); }
.header--green { @include header(rgba(#449944, .5), rgba(#44CC44, .5)); }
.header--blue { @include header(rgba(#444499, .5), rgba(#4444CC, .5)); }

.home__text-wrapper {
  display: flex;
  justify-content: center;
}
.home__text {
  padding: 2em;
  margin-bottom: 2em;
}

.home__list-wrapper {
  display: flex;
  justify-content: center;
}
.home__list {
  padding: 2em;
  font-family: "Impact, Charcoal, sans-serif", Impact, sans-serif;
  font-size: x-large;
}

.home-slidelist__wrapper {
  display: flex;
  justify-content: center;
}

.home-slidelist__ul {
  width: 100%;
}

.home-slidelist__item {
  padding: 1em;
  margin-bottom: 0.5em;
  color: inherit !important;
}