@font-face {
  font-family: Benguiat;
  src: local("Benguiat Bold"),
  url(Benguiat.ttf);
}

.stranger__chars {
  font-size: 12vmin;
  color: red;
  font-family: Benguiat;
}

.stranger__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
  padding: 2em;
}