@import 'app/normalize';

@import './app/App.scss';
@import './4-minesweeper/minesweeper.scss';
@import './6-hovers/hovers.scss';
@import './9-filterSettings/filterSettings.scss';
@import './11-Paper/paperdemo.scss';
@import './12-loadingBar/loadingbar.scss';
@import './13-memory/memory.scss';
@import './14-dynamicSearch/dynamicSearch.scss';
@import './15-menuBar/menubar.scss';
@import './19-chat/chat.scss';
@import './21-lightbox/lightbox.scss';
@import './23-vidPlayer/videoplayer.scss';
@import './25-HTTPS/https.scss';
@import './26-vidBg/vidBg.scss';
@import './27-slideList/slideList.scss';
@import './28-stranger/stranger.scss';
@import './30-walkthrough/walkthrough.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(#FFFDE7, 0.01);
}

// Everything below the menubar
.body {
  margin: 1em;
}

ul {
  list-style-type: none;
  // default is 40px
  padding-left: 0;
}

.centered-text {
  text-align: center;
}

// Generically centers things in a jiffy
.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none;
}