@import 'app/normalize';

@import './app/App.scss';
@import './ongoing/supplyDemand/supplyDemand.scss';
@import './ongoing/quiz/quiz.scss';
@import './app/Hire/hire.scss';
@import './ongoing/Tools/tools.scss';
@import './ongoing/mockups/contentdj/contentdj.scss';

// 30 Days
@import './ongoing/30Days/4-minesweeper/minesweeper.scss';
@import './ongoing/30Days/6-hovers/hovers.scss';
@import './ongoing/30Days/9-filterSettings/filterSettings.scss';
@import './ongoing/30Days/11-Paper/paperdemo.scss';
@import './ongoing/30Days/12-loadingBar/loadingbar.scss';
@import './ongoing/30Days/13-memory/memory.scss';
@import './ongoing/30Days/14-dynamicSearch/dynamicSearch.scss';
@import './ongoing/30Days/15-menuBar/menubar.scss';
@import './ongoing/30Days/19-chat/chat.scss';
@import './ongoing/30Days/21-lightbox/lightbox.scss';
@import './ongoing/30Days/23-vidPlayer/videoplayer.scss';
@import './ongoing/30Days/25-HTTPS/https.scss';
@import './ongoing/30Days/26-vidBg/vidBg.scss';
@import './ongoing/30Days/27-slideList/slideList.scss';
@import './ongoing/30Days/28-stranger/stranger.scss';
@import './ongoing/30Days/30-walkthrough/walkthrough.scss';

// Helpers
@import './helpers/Papers/hoverpaper.scss';
@import './helpers/Menus/VerticalDrawer/verticalDrawerMenu.scss';
@import './helpers/FullPageCta/fullpagecta.scss';


body {
  margin: 0;
  padding: 0;
  font-size: large;
  background-color: rgba(#FFFDE7, 0.01);
}

// Everything below the menubar
.body {
  margin: 1em;
}

ul {
  list-style-type: none;
  // default is 40px
  padding-left: 0;
}

.centered-text {
  text-align: center;
}

// Generically centers things in a jiffy
.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none;
}

.padded-paper {
  padding: 1em;
}

.clickable {
  cursor: pointer;
}

.flex-parent { display: flex; }
.flex-container { display: flex; }
.flex-centered-hor { justify-content: center; }
.flex-space-around { justify-content: space-around; }
.flex-space-between { justify-content: space-between; }
.flex-centered-vert { align-item: center; }