@import './6-hovers/hovers.scss';
@import './9-filterSettings/filterSettings.scss';
@import './4-minesweeper/minesweeper.scss';
@import './app/App.scss';

body {
  margin: 1em;
  padding: 0;
  font-family: sans-serif;
}