.app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
}

.app-header {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 45vw;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    color: $white;
    background-color: $blue500;
}
.app-text {
    color: $blue500;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
        text-align: center;
    }
    .app-header {
        text-align: center;
        width: 90vw;
    }
    .app-left {
        margin: 1rem;
    }
}