.support-header-container {
    width: 100%;
    // text-align: center;
    display: flex;
    justify-content: center;
}
.support-header {
    font-size: 2.5rem;
    width: 90vw;
    text-align: center;
    // margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    background-color: $cyan500;
    color: $white;
}

.support-flex-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.support-cell-text {
    margin: 1rem;
    padding: 1rem;
    &> p {
        color: $blue900;
    }
}
.support-cell-image {
    border-radius: 100%;
    padding: 3rem;
}

@media (min-width: 769px) {
    // Large
    .support-cell-text {
        // max-width: 50vw;
    }
}
@media (max-width: 768px) {
    // Small
    .support-flex-container {
        flex-direction: column;
    }
}