.testimonials-outer-wrapper {
    overflow-x: hidden;
    position: relative;
    background-image: url("https://s3-us-west-2.amazonaws.com/aaroncoding/images/mockups/inchol/people.jpg");
    background-color: $greenA100;
}

.testimonials-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonials-header {
    font-size: 4vw;
    width: 80vw;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    text-align: center;
    z-index: 10;
    position: relative;
    background-color: $white;
    color: $pink500;
    top: 0.5rem;
}

.testimonials-overlay {
    background-color: rgba($pink500, 0.9);
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.testimonials-inner-wrapper {
    display: flex;
    justify-content: space-around;
    width: 300vw;
    position: relative;
    top: 1rem;
}

.testimonial-element {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.testimonial {
    background-color: #FFF;
    color: $pink800;
    padding: 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

@media (min-width: 769px) {
    // Large screens
    .testimonial { width: 80vw; }
    .testimonials-outer-wrapper {
        min-height: 50vh;
    }
}
@media (max-width: 768px) {
    // Small screens
    .testimonial { width: 80vw; }
    .testimonials-outer-wrapper {
        min-height: 100vmax;
    }
}